.ptf-item{
    width: 90%;
}

.ptf-title{
    font-size: 2.5vw;
    margin-bottom: 2%;
}
.ptf-item-no-title{
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
}

.ptf-img{
    border-radius: 1vw;
    margin-right: 5%;
    width: 30vw;
    height: 18vw;
    border: 0px solid var(--color-lightestpink);
    box-shadow: 0px 0px 3px 1px var(--color-caramel);
}
.ptf-text-content p{
    margin-bottom: 2%;
}

.ptf-tech-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.ptf-tech-list-item{
    margin-right: 5%;
    padding: 0.5vw;
    color: var(--color-darkpink);
    background-color: var(--color-lightestpink);
    border-radius: 0.8vw;
    font-size: 1.5vw;
}

.ptf-links a{
    margin-left: 0;
    font-size: 1.5vw;
}

/*Tablet and mobile */
@media screen and (max-width: 769px) {
    .portfolio-container{
        display: flex;
        flex-direction: column;
    }
    .ptf-title{
        font-size: 3vw;
        margin-bottom: 3%;
    }
    .ptf-item, .ptf-item-no-title{
        flex-direction: column;
        align-items: left;
    }

    .ptf-img{
        border-radius: 1vw;
        margin-bottom: 5%;
        width: 60vw;
        height: 36vw;
        border: 0px solid var(--color-lightestpink);
        box-shadow: 0px 0px 3px 1px var(--color-caramel);
    }
    .ptf-text-content p {
        margin-left: 0;
        font-size: 2.5vw;
    }

    .ptf-links a {
        margin-left: 0;
        font-size: 2vw;
    }

}