
#home {
    border: 5px solid var(--color-lightpink);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-bottom: 5vh;
}

#bunny{
    margin-top: 2%;
    width: 8%;
    height: 20%;
}

.entire-title{
    /*title and subtitile and image*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home-title {
    /*Title */
    font-size: var(--header-size-xl);
    font-family: 'Crafty Girls', sans-serif;
    color: var(--color-choco);
    text-align: center;
    margin-bottom: 0px;
}

.home-subtitle{
    /*subtitle*/
    color: var(--color-choco);
    font-size: var(--subheader);
    text-align: center;
    font-weight: 500;
    animation-name: title-fade-in;
    animation-duration: 0.9s;
}
@keyframes title-fade-in {
    from {
        opacity: 0;
        translate: 0% 10%;
    }
    to {
        opacity: 1; 
    }
}

.deco-subtitle-text {
    /*text decoration*/
    font-family: 'Crafty Girls', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: var(--color-caramel);
}

/*Laptop*/
@media screen and (min-width: 768px) {
    .home-subtitle {
        font-size:calc(var(--subheader) - 0.2vw);
    }
}

/*Tablet*/
@media screen and (max-width: 767px) {
    .home-subtitle {
        font-size: var(--subheader);
    }
}

/*Mobile*/
@media screen and (max-width: 420px) {
    .home-title{
        font-size: calc(var(--header-size-xl) + 8vw);
    }
    .home-subtitle {
        font-size: calc(var(--subheader) + 3.2vw);
    }
}