#contact {
    align-items: center;
}


.contact-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20%;
    align-items: center;
}

.linkedin-icon,.github-icon, .email-icon {
    font-size: 5vw;
    color: var(--color-pink);
}

.linkedin-icon:hover,.github-icon:hover, .email-icon:hover {
    color: var(--color-lighterpink);
    transition: ease-in-out 0.05s;
}
