@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Manjari:wght@100;400&family=Outfit:wght@100;200;300;400&family=Poppins:wght@100;200;300;400&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/pink\ and\ cream\ stripes.png");
  height: 100vh;
  overflow: hidden;
}

:root{
  /*Custom variables*/

  /*Color pallete*/
  --color-cream: rgb(254, 254, 253);
  --color-lighterpink:rgb(252, 239, 239);
  --color-lightestpink: rgb(255, 244, 244);
  --color-pink: #FFCECE;
  --color-darkpink: #fa9d9d;
  --color-citrus: rgb(251, 242, 233);
  --color-tan: rgb(240, 232, 227);
  --color-caramel: rgb(223, 200, 182);
  --color-choco: rgb(167, 141, 133);
  --color-green: rgb(204, 213, 170);
  --color-blue: rgb(201,210,217);

  --alpha : 0.5;


  /*Container sizes*/
  --container-width-large: 80%;
  --container-width-med: 85%;
  --container-width-small: 90%;
}

#root {
  height: 100vh;
}

/*------------------General Styles----------------*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-cream);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-caramel);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-caramel);
}

.page-container {
  /*Holds everything including nav bar and page content*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container{
  /*Holds everything under the nav bar*/
  width: var(--container-width-large);
  height: 110%;
  background-color: var(--color-cream);
  border: 15px solid var(--color-citrus);
  box-shadow: 0px 0px 10px 5px var(--color-caramel);

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  padding: 1.5rem;
  width: 100%;
  height: 100vh;
}

section p {
  color: var(--color-choco);
  font-family: 'Poppins', sans-serif;
}
/*-----------------Responsivity--------------*/

/*Tablet*/
@media screen and (max-width: 1024px) {

}

/*Mobile*/
@media screen and (max-width: 600px) {
  
}