@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Outfit:wght@100;200;300;400&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/pink\ and\ cream\ stripes.png");
}

:root{
  /*Custom variables*/

  /*Color pallete*/
  --color-cream: rgb(254, 254, 253);
  --color-lightpink: rgb(255, 244, 244);
  --color-pink: #FFCECE;
  --color-tan: rgb(240, 233, 224);
  --color-brown: rgb(223, 200, 182);
  --color-green: rgb(204, 213, 170);
  --color-darkgray: rgb(100, 95, 95);


  /*Container sizes*/
  --container-width-large: 75%;
  --container-width-med: 86%;
  --container-width-small: 90%;
}


/*------------------General Styles----------------*/


/*-----------------Responsivity--------------*/

/*Tablet*/
@media screen and (max-width: 1024px) {

}

/*Mobile*/
@media screen and (max-width: 600px) {
  
}