.nav {
    padding: 1rem 3rem;
    text-align: right;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.nav li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 3rem;
}

/*.nav li:nth-child(1){
    background-color: rgb(232, 255, 255);
}
.nav li:nth-child(2){
    background-color: rgb(247, 255, 232);
}
.nav li:nth-child(3){
    background-color: rgb(232, 255, 255);
}
.nav li:nth-child(4){
    background-color: rgb(247, 255, 232);
}*/

a {
    text-decoration: none;
}