@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Manjari:wght@100;400&family=Outfit:wght@100;200;300;400&family=Poppins:wght@100;200;300;400&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing:border-box;
  margin:0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/pink\ and\ cream\ stripes.png");
  overflow: hidden;
}

:root{
  /*Custom variables*/

  /*Color pallete*/
  --color-cream: rgb(254, 254, 253);
  --color-lighterpink:rgb(244, 216, 216);
  --color-lightestpink: rgb(255, 244, 244);
  --color-pink: #f0bfbf;
  --color-darkpink: #e49f9f;
  --color-citrus: rgb(251, 242, 233);
  --color-tan: rgb(240, 232, 227);
  --color-caramel: rgb(223, 200, 182);
  --color-choco: rgb(167, 141, 133);
  --color-green: rgb(204, 213, 170);
  --color-blue: rgb(189, 200, 208);
  --alpha : 0.5;

  --header-sm: 1vw; /*For text*/
  --header-md: 2vw; /*For h2*/
  --header-lg: 5vw; /*For h1 Section titles*/
  --header-size-xl: 10vw; /*For h1 Home title */
  --subheader: 2.8vw; /*For Home subtitle*/
  --header-space: 0.3rem;

  --font-size-sm: 1rem;
  --font-size: 1.2rem;


  /*Container sizes*/
  --container-width-large: 85%;
  --container-width-med: 85%;
  --container-width-small: 90%;
}

/*------------------General Styles----------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-cream);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-caramel);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-caramel);
}

.page-container {
  /*Holds everything including nav bar and page content*/
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container{
  /*Holds everything under the nav bar*/
  height: 100%;
  width: var(--container-width-large);
  background-color: var(--color-cream);
  border: 1vw solid var(--color-citrus);
  box-shadow: 0px 0px 10px 5px var(--color-caramel);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  border-radius: 10px;
  padding: 5vw;
  width: 100%;
  margin-bottom: 5%;
}

.section-header {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-choco);
  text-align: center;
  font-size: var(--header-lg);
  letter-spacing: var(--header-space);

  margin: 5% 0% 5% 0%;
}

section p {
  color: var(--color-choco);
  font-family: 'Quicksand', sans-serif;
  /*font-size: 3vw;
  font-weight: 400;*/
  font-size: 2vw;
  font-weight: 500;
  text-align: left;
}


h2 {
  font-family: 'Quicksand', sans-serif;
}

h3{
  color: var(--color-choco);
  font-family: 'Quicksand', sans-serif;
  font-size: var(--header-md);
  margin-bottom: 2%;
}

a{
  font-family: 'Quicksand', sans-serif;
  color: var(--color-blue);
  font-size: var(--font-size);
  margin-right: 5%;
}

a:hover {
  color: var(--color-caramel);
}
/*-----------------Responsivity--------------*/

/*Tablet*/
@media screen and (max-width: 1024px) {
  
}

/*Mobile*/
@media screen and (max-width: 420px) {
  
}